body {
    background: #1093a7;
    max-height: 600px;
    min-height: 400px;
    width: 720px;
}

#fieldsets {
    padding-bottom: 50px;
}

#fieldset_table {
    float: left;
}

#button_div {
    clear: left;

}

#submit_button {
    float: left;
    margin-right: 15px;
}

#cancel_button {
    float: left;
    margin-right: 15px;
}

#textarea {
    width: 720px;
    max-height: 100px;
    min-height: 100px;
    float: none;
}